* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
  font-family: "Roboto";
}

.btn {
  width: 60px;
  height: 25px;
  margin: 0 3px;
  border-radius: 5px;
  border: 1px solid grey;
  background-color: transparent;
}

.btn--minus {
  background-color: blueviolet;
}
.btn--reset {
  background-color: red;
}
.btn--plus {
  background-color: green;
}

.wrapper {
  font-family: "Catamaran", sans-serif;
  padding: 50px;
}
